<style>
    .disclaimer {
        font-weight: 500;
        font-size: smaller;
        text-align:center;
    }
</style>
<nav>
    <a href="https://webpages.charlotte.edu/nmatsuku/">CLT Webpage  ||  </a>
    <a href="https://github.com/Nbernardino05/Nbernardino05.GitHub.io">GitHub  ||  </a>
    <a href="https://nbernardino05.github.io/">GitHub.io 3135 page  ||  </a>
    <a href="https://www.freecodecamp.org/Nina_Matsukura_Bernardino">freeCodeCamp  ||  </a>
    <a href="https://www.codecademy.com/profiles/Nina_Matsukura_Bernardino">Codeacademy  ||  </a>
    <a href="http://www.linkedin.com/in/nina-matsukura-bernardino-10b7692b1">LinkedIn</a>
</nav>
<p class="disclaimer">
    <a href="nmbenterprises.com/index.html">Designed by NMB Enterprises © 2025  ||  </a>
    <a href="https://www.freecodecamp.org/certification/Nina_Matsukura_Bernardino/responsive-web-design">
        <em>Certified in Responsive Web Design</em> || </a>
    <a href="https://www.freecodecamp.org/certification/Nina_Matsukura_Bernardino/javascript-algorithms-and-data-structures-v8">
        <em>Certified in JavaScript Algorithms and Data Structures</em></a>
</p>

